<script lang="ts">
import type { ExampleConfigClientOnly } from '../types';
import { defineComponent, ref } from 'vue';
import { isBoolean } from 'lodash';

const keys: (keyof ExampleConfigClientOnly)[] = [
  'gitlabUrl',
  'projectPath',
  'gitRef',
  'gitlabToken',
  'telemetryEnabled',
];

export default defineComponent({
  props: keys,
  emits: {
    update(key: keyof ExampleConfigClientOnly, value: string) {
      return Boolean(key);
    },
  },
  setup(props, { emit }) {
    // methods
    const updateKey = (key: keyof ExampleConfigClientOnly, event: Event) => {
      const el = event.target as HTMLInputElement;

      emit('update', key, isBoolean(el.checked) ? el.checked : el.value);
    };

    const showTokenInput = ref(false);

    return {
      updateKey,
      showTokenInput,
    };
  },
});
</script>

<template>
  <div>
    <label class="block">
      <span>GitLab URL</span>
      <input
        name="gitlab_url"
        class="gl-input"
        type="text"
        placeholder="URL of GitLab instance (e.g. https://gitlab.com/)"
        :value="gitlabUrl"
        @input="updateKey('gitlabUrl', $event)"
      />
    </label>
    <label class="block mt-3">
      <span>Project Path</span>
      <input
        name="project_path"
        class="gl-input"
        type="text"
        placeholder="Path to GitLab project (e.g. gitlab-org/gitlab)"
        :value="projectPath"
        @input="updateKey('projectPath', $event)"
      />
    </label>
    <label class="block mt-3">
      <span>Git Ref</span>
      <input
        name="ref"
        class="gl-input"
        type="text"
        placeholder="Commit or branch name (e.g. main)"
        :value="gitRef"
        @input="updateKey('gitRef', $event)"
      />
    </label>
    <label class="block mt-3">
      <input
        name="code_suggestions_enabled"
        type="checkbox"
        :value="codeSuggestionsEnabled"
        @input="updateKey('codeSuggestionsEnabled', $event)"
      />
      <span class="ml-3">Enable code suggestions</span>
    </label>
    <label class="block mt-3">
      <input
        name="telemetry_enabled"
        type="checkbox"
        :value="telemetryEnabled"
        @input="updateKey('telemetryEnabled', $event)"
      />
      <span class="ml-3">Enable telemetry</span>
    </label>
    <label class="block mt-3">
      <input type="checkbox" v-model="showTokenInput" />
      <span class="ml-3"
        >I have a <span class="font-bold">non-production</span> GitLab Token I'd like to test
        authenticated requests with. I am aware of any security risks.</span
      >
    </label>
    <label class="block mt-3" v-if="showTokenInput">
      <span>Gitlab Token (optional)</span>
      <input
        name="gitlab_token"
        class="gl-input"
        type="password"
        :value="gitlabToken"
        @input="updateKey('gitlabToken', $event)"
      />
    </label>
  </div>
</template>
